{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container-flex">
    <div class="card card-shadow1">
        <!-- O form sempre deverá estar dentro de um card -->
        <!-- Se não for utilizado o container do bootstrap -->
        <form id="frmEnviar" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-header">
                Upload de arquivo CSV
            </div>

            <div class="card-body">
                <div class="card-body-content">
                    <div class="form-group">
                        <label id="lblIdArquivo" for="id_file">
                            Arquivo
                        </label>
                        <!-- A propriedade name do input deve ter o mesmo nome do campo em forms.py -->
                        <!-- Esse nome também deve ser igual ao request.FILES['arquivo'] -->
                        <input class="form-control" id="id_file" name="arquivo" type="file" accept=".csv" required>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <a href="{% url 'upload_csv' %}" class="btn btn-outline-danger">Cancelar</a>
                <button id="btnEnviar" type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/upload_csv.js' %}"></script>
{% endblock %}
