{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container-flex">
    <div class="card card-shadow1">
        <!-- O form sempre deverá estar dentro de um card -->
        <!-- Se não for utilizado o container do bootstrap -->
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-header">
                Upload completo
            </div>

            <div class="card-body card-body-content-scroll">
                <div class="card-body-content">
                    <div class="form-group form-group-without-margin">
                        <ol>
                            {% for line in lines %}
                                <li>{{ line }}</li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <a href="{% url 'file_upload' %}" class="btn btn-outline-danger">Voltar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}
